@font-face {
    font-family: 'alike_angularregular';
    src: url('https://cdn.glitch.global/273ac551-9687-45bd-9f8d-1556cfa510c5/alikeangular-regular-webfont.woff2?v=1652125589185') format('woff2'),
         url('https://cdn.glitch.global/273ac551-9687-45bd-9f8d-1556cfa510c5/alikeangular-regular-webfont.woff?v=1652125589133') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: alike_angularregular, serif;
  font-size: 1.5em;
  background-color: #B4D5D4;
  color: #283E48;
}

@media screen and (orientation: landscape) {
  #main {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media screen and (orientation: portrait) {
  #main {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
	#main {
		width: 80%;
	}
}

@media screen and (orientation: landscape) and (max-width: 930px) {
	#main {
		width: 100%;
	}
}

h1 {
  font-size: 160%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  font-weight: bold;
  color: #28204c;
}

a:visited {
  color: #28204c;
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#headerLinks {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#title {
  font-size: 110%;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#content {
  mask-image: linear-gradient(to bottom, black, black, transparent, transparent);
  mask-size: 100% 400%;
  animation: fade-in 10s forwards;
}

@keyframes fade-in {
  from {
    mask-position: bottom;
  }
  
  to {
    mask-position: top;
  }
}
