<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta name="author" content="Niall Moody" />
    <meta name="copyright" content="Niall Moody" />
    <meta name="description" content="A record of the places I have visited in my dreams." />
    <meta name="keywords" content="dream,geography,journal" />

    <meta property="og:image" content="https://cdn.glitch.global/273ac551-9687-45bd-9f8d-1556cfa510c5/Thumbnail.jpg?v=1653129929843" />
    <meta property="og:title" content="dream geography" />
    <meta property="og:description" content="A record of the places I have visited in my dreams." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@NiallEM" />
    <meta name="twitter:title" content="dream geography" />
    <meta name="twitter:description" content="A record of the places I have visited in my dreams." />
    <meta name="twitter:image" content="https://cdn.glitch.global/273ac551-9687-45bd-9f8d-1556cfa510c5/Thumbnail.jpg?v=1653129929843" />

    <title>dream geography - about</title>

    <link rel="stylesheet" href="../style.css" />   
    
    <style>
      #background {
        background: url('{{ backImage }}');
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  
  <body>
    <div id="background"></div>
    
    <div id="main">
      <div id="header">
        <h1 id="title"><a href="/">dream geography</a></h1>
        
        <div id="headerLinks">
          <a href="../about">?</a>
        </div>
      </div>
      <div id="content">
        <h1>What is this?</h1>

        <p>
          <a href="https://www.niallmoody.com">I</a> tend to have (somewhat
          intermittently) recurring dreams, and I realised a while ago that
          the landscapes and places in my dreams seem to be consistent across
          entirely separate dreams. i.e. I have visited places in one dream
          that I previously visited in a different dream. And in the course
          of a single dream I have even travelled from locations I visited
          in that dream to locations I previously visited in an entirely
          separate dream.
        </p>
        
        <p>
          On top of this, all my dreams seem to take place in Scotland, with
          cities and towns that mirror cities and towns from the waking world.
          Only, the dream versions of these places vary from being very similar
          to their waking counterparts, to <strong>very</strong> different from
          their waking counterparts.
        </p>
        
        <p>
          The strange sense I get that my dreams exhibit a consistent, shared
          geography, one that mirrors the waking world according to a logic I
          don't understand, led me to start recording the places I have visited
          in my dreams.
        </p>
        
        <p>
          This site is a record of those places I have visited in my dreams, with
          hyperlinks to document the connections between different places. The
          <a href="/todays-dream">today's dream</a> link will serve up a page
          chosen randomly based on the current date.
        </p>
        
        <h1>Technical details</h1>
        
        <p>
          I've been documenting my dreams as markdown files in
          <a href="https://obsidian.md/">Obsidian</a>, stored locally on my
          harddrive (and mirrored to my phone using
          <a href="https://syncthing.net/">SyncThing</a>). This site is
          effectively a custom static site generator written in node.js that
          generates html pages for each markdown file. The idea is that updating
          this site should be as easy as just uploading a new markdown file
          whenever I document a new place.
        </p>
        
        <h2>License</h2>
        
        <p>
          <strong>dream geography</strong> was created (and will be
          sporadically updated) by
          <a href="https://www.niallmoody.com">Niall Moody</a>
        </p>
        
        <p>
           The game and its source code is released under the Anti-Capitalist
          Software License. You can read the full text of the license and its
          rationale <a href="https://anticapitalist.software/">here</a>, but
          if you're looking for a summary, the important part is:
        </p>
        
        <code>
          This is anti-capitalist software, released for free use by
          individuals and organizations that do not operate by capitalist
          principles. 
        </code>
        
        <p>
          You can view <a href="https://glitch.com/edit/#!/dream-geography">the source code for this site on glitch</a>.
        </p>
        
        <h2>Infrastructure Credits</h2>
        
         <p class="aboutText">
            <strong>dream geography</strong> is built on the following platforms, frameworks, 
            libraries, and fonts:
          </p>

          <ul>
            <li><a href="https://glitch.com/">Glitch</a> - The web hosting platform the site runs on.</li>
            <li><a href="https://nodejs.org/en/">Node.js</a> - Javascript runtime running on glitch.</li>
            <li><a href="https://www.fastify.io/">Fastify</a> - Web framework to serve pages from glitch.</li>
            <li><a href="https://github.com/fastify/fastify-static">fastify-static</a> - Fastify plugin to serve static pages.</li>
            <li><a href="https://handlebarsjs.com/">Handlebars</a> - Web page template engine.</li>
            <li><a href="https://github.com/fastify/point-of-view">point-of-view</a> - Fastify plugin to support template engines like Handlebars.</li>
            <li><a href="https://github.com/markdown-it/markdown-it">markdown-it</a> - Javascript library to render markdown as html.</li>
            <li><a href="https://github.com/jsepia/markdown-it-wikilinks">markdown-it-wikilinks</a> - Addon for markdown-it to support wiki-style links, as used in Obsidian.</li>
            <li><a href="https://github.com/parshap/node-sanitize-filename">sanitize-filename</a> - Used to transform the markdown places names into a URL-friendly format.</li>
            <li><a href="https://fonts.google.com/specimen/Alike+Angular">Alike Angular</a> - Site font.</li>
          </ul>
        
        <h1>Last Updated</h1>
        
        <p>
          This site was last updated on {{ lastUpdated }}
        </p>
      </div>
    </div>
  </body>
</html>