<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>dream geography - about</title>

    <link rel="stylesheet" href="../style.css" />   
  </head>
  
  <body>
    <div id="main">
      <div id="header">
        <h1 id="title">dream geography</h1>
        
        <div id="headerLinks">
          <a href="../about">?</a>
        </div>
      </div>
      <div id="content">
        <h1>What is this?</h1>

        <p>
          I tend to have (somewhat intermittently) recurring dreams, and I
          realised a while ago that the landscapes and places in my dreams seem
          to be consistent across entirely separate dreams. i.e. I have visited
          places in one dream that I previously visited in a different dream.
          And in the course of a single dream I have even travelled from
          locations I visited in that dream to locations I previously visited
          in an entirely separate dream.
        </p>
        
        <p>
          On top of this, all my dreams seem to take place in Scotland, with
          cities and towns that mirror cities and towns from the waking world.
          Only, the dream versions of these places vary from being very similar
          to their waking counterparts, to <em>very</em> different from their
          waking counterparts.
        </p>
        
        <p>
          The strange sense I get that my dreams exhibit a consistent, shared
          geography, one that mirrors the waking world according to a logic I
          don't understand, led me to start recording the places I have visited
          in my dreams.
        </p>
        
        <p>
          This site is a record of the places I have visited in my dreams, with
          hyperlinks to document the connections between different places. The
          <a href="/todays-dream">today's dream</a> link will serve up a page
          chosen randomly based on the current date.
        </p>
        
        <h1>Technical details</h1>
        
        <p>
          I've been documenting my dreams as markdown files in
          <a href="https://obsidian.md/">Obsidian</a>, stored locally on my
          harddrive. This site is effectively a custom static site generator
          that generates html pages for each markdown file. Updating this site
          should be as easy as just uploading a new markdown file whenever I
          document a new place.
        </p>
      </div>
    </div>
  </body>
</html>