<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>dream geography</title>

    <link rel="stylesheet" href="../style.css" />
    
    <style>
      #background {
        background: url('{{ backImage }}');
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  
  <body>
    <div id="background"></div>
    
    <div id="main">
      <div id="header">
        <h1 id="title">&nbsp;</h1>
        
        <div id="headerLinks">
          <a href="../about">?</a>
        </div>
      </div>
      <div id="entry">
        <div id="entryMiddle">
          <div id="entryInner">
            <h1 id="entryText">dream geography</h1>

            <p id="entryLink">
              <a href="/todays-dream">today's dream</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>