<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>dream geography - {{ placeName }}</title>

    <link rel="stylesheet" href="../style.css" />
    
    <style>
      body {
        background: url('{{ backImage }}');
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  
  <body>
    <div id="main">
      <div id="header">
        <h1 id="title">dream geography</h1>
        
        <div id="headerLinks">
          <a href="../about">?</a>
        </div>
      </div>
      <div id="content">
        {{ renderedMarkdown }}
      </div>
    </div>
  </body>
</html>